.quadrato {
    height: 100px;
    width: 100px;
    background-color: tomato;
    border: 2px solid black;
}

h1 {
    font-size: 50px;
    padding: 30px 0;
}

.fizz {
    background-color: green;
}

.buzz {
    background-color: yellow;
}


.fizzbuzz {
    background-color: red;
}